<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<h1>PriceList</h1>

    {{#each row3 as |i|}}
        <div>
            {{i.Variant}}
        </div>
    {{/each}}

</body>
</html>